<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<!--    <uses-permission-->
<!--        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="33" />-->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--    As of Android 13, if you need to query or interact with MediaStore or media
     files on the shared storage, you should be using instead one or more new
      storage permissions: * android.permission.READ_MEDIA_IMAGES *
      android.permission.READ_MEDIA_VIDEO
      * android.permission.READ_MEDIA_AUDIO-->
    <queries>
        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app"/>

        <!--
             Specific intents you query for,
             eg: for a custom share UI
        -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>
    <application
        android:name=".common.GoldApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gold"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ui.MapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.others.PaymentConfirmed"
            android:exported="false"
            >

        </activity>

        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD4wDzESIHuVLPC6XJJ-7WQ3k3pIy_7qfM" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_me6vHPlVFbR2rA" />


        <!--            android:value="rzp_test_sC3pnynLq27dfw" />-->

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.paulmerchants.gold.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>